absl-py==2.1.0            # via tensorboard, tensorflow, -r app/requirements.txt
astunparse==1.6.3         # via tensorflow, -r app/requirements.txt
backcall==0.2.0           # via ipython, -r app/dev-requirements.txt
black==24.8.0             # via -r ops-requirements.txt
cachetools==5.5.0         # via google-auth, -r app/requirements.txt
certifi==2024.8.30        # via requests, -r app/requirements.txt
charset-normalizer==3.3.2  # via requests, -r app/requirements.txt
click==8.1.7              # via black, -r ops-requirements.txt
decorator==5.1.1          # via ipython, -r app/dev-requirements.txt
flatbuffers==24.3.25      # via tensorflow, -r app/requirements.txt
gast==0.4.0               # via tensorflow, -r app/requirements.txt
google-auth==2.34.0       # via google-auth-oauthlib, tensorboard, -r app/requirements.txt
google-auth-oauthlib==1.0.0  # via tensorboard, -r app/requirements.txt
google-pasta==0.2.0       # via tensorflow, -r app/requirements.txt
grpcio==1.66.1            # via tensorboard, tensorflow, -r app/requirements.txt
guesslang @ git+https://github.com/andydecleyre/guesslang@e8be843a519b3da59b573bc58744cb47978508ad  # via -r app/requirements.txt
h5py==3.11.0              # via tensorflow, -r app/requirements.txt
idna==3.8                 # via requests, -r app/requirements.txt
ipython==7.34.0           # via -r app/dev-requirements.txt
isort==5.13.2             # via -r ops-requirements.txt
jedi==0.19.1              # via ipython, -r app/dev-requirements.txt
keras==2.13.1             # via tensorflow, -r app/requirements.txt
libclang==18.1.1          # via tensorflow, -r app/requirements.txt
markdown==3.7             # via tensorboard, -r app/requirements.txt
markdown-it-py==3.0.0     # via rich, -r app/dev-requirements.txt
markupsafe==2.1.5         # via werkzeug, -r app/requirements.txt
matplotlib-inline==0.1.7  # via ipython, -r app/dev-requirements.txt
mdurl==0.1.2              # via markdown-it-py, -r app/dev-requirements.txt
mypy-extensions==1.0.0    # via black, -r ops-requirements.txt
numpy==1.24.3             # via h5py, opt-einsum, tensorboard, tensorflow, -r app/requirements.txt
oauthlib==3.2.2           # via requests-oauthlib, -r app/requirements.txt
opt-einsum==3.3.0         # via tensorflow, -r app/requirements.txt
packaging==24.1           # via black, tensorflow, -r app/requirements.txt, -r ops-requirements.txt
parso==0.8.4              # via jedi, -r app/dev-requirements.txt
pathspec==0.12.1          # via black, -r ops-requirements.txt
peewee==3.17.6            # via -r app/requirements.txt
pexpect==4.9.0            # via ipython, -r app/dev-requirements.txt
pickleshare==0.7.5        # via ipython, -r app/dev-requirements.txt
platformdirs==4.3.2       # via black, -r ops-requirements.txt
plumbum==1.8.3            # via -r app/requirements.txt
prompt-toolkit==3.0.47    # via ipython, -r app/dev-requirements.txt
protobuf==4.25.4          # via tensorboard, tensorflow, -r app/requirements.txt
ptyprocess==0.7.0         # via pexpect, -r app/dev-requirements.txt
pyasn1==0.6.0             # via pyasn1-modules, rsa, -r app/requirements.txt
pyasn1-modules==0.4.0     # via google-auth, -r app/requirements.txt
pygments==2.18.0          # via ipython, rich, -r app/dev-requirements.txt
pytelegrambotapi==4.22.1  # via -r app/requirements.txt
python-dateutil==2.9.0.post0  # via strictyaml, yamlpath, -r app/requirements.txt, -r ops-requirements.txt
requests==2.32.3          # via pytelegrambotapi, requests-oauthlib, tensorboard, -r app/requirements.txt
requests-oauthlib==2.0.0  # via google-auth-oauthlib, -r app/requirements.txt
rich==13.8.1              # via -r app/dev-requirements.txt
rsa==4.9                  # via google-auth, -r app/requirements.txt
ruamel-yaml==0.17.21      # via yamlpath, -r ops-requirements.txt
ruamel-yaml-clib==0.2.8   # via ruamel-yaml
setuptools==74.1.2        # via ipython, tensorboard, tensorflow, -r app/dev-requirements.txt, -r app/requirements.txt
six==1.16.0               # via astunparse, google-pasta, python-dateutil, tensorflow, -r app/requirements.txt, -r ops-requirements.txt
strictyaml==1.7.3         # via -r app/requirements.txt
structlog==24.4.0         # via -r app/requirements.txt
tensorboard==2.13.0       # via tensorflow, -r app/requirements.txt
tensorboard-data-server==0.7.2  # via tensorboard, -r app/requirements.txt
tensorflow==2.13.1        # via guesslang, -r app/requirements.txt
tensorflow-estimator==2.13.0  # via tensorflow, -r app/requirements.txt
tensorflow-io-gcs-filesystem==0.37.1  # via tensorflow, -r app/requirements.txt
termcolor==2.4.0          # via tensorflow, -r app/requirements.txt
tomli==2.0.1              # via black
traitlets==5.14.3         # via ipython, matplotlib-inline, -r app/dev-requirements.txt
typing-extensions==4.5.0  # via black, tensorflow, -r app/requirements.txt
urllib3==2.2.2            # via requests, -r app/requirements.txt
wcwidth==0.2.13           # via prompt-toolkit, -r app/dev-requirements.txt
werkzeug==3.0.4           # via tensorboard, -r app/requirements.txt
wheel==0.44.0             # via astunparse, tensorboard, -r app/requirements.txt
wheezy-template==3.2.2    # via -r ops-requirements.txt
wrapt==1.16.0             # via tensorflow, -r app/requirements.txt
yamlpath==3.8.2           # via -r ops-requirements.txt
